<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Mairie_VisuSal</display-name>
<!-- 	<context-param> -->
<!-- 		<param-name>HOST_SGBD</param-name> -->
<!-- 		<param-value>noumea</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>HOST_SGBD_ADMIN</param-name> -->
<!-- 		<param-value>***REMOVED***</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>HOST_SGBD_PWD</param-name> -->
<!-- 		<param-value>***REMOVED***</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>URL_PHOTO</param-name> -->
<!-- 		<param-value>images/photos/</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!--          <param-name>STARJET_MODE</param-name> -->
<!--          <param-value>PROD</param-value> -->
<!--     </context-param> -->
<!--     <context-param> -->
<!-- 		<description>Nom de l'application dÃƒÂ©clarÃƒÂ©e SIDRAP pour connaitre les droits</description> -->
<!-- 		<param-name>APPLICATION</param-name> -->
<!-- 		<param-value>VisuSalaire</param-value> -->
<!-- 	</context-param> -->
<filter> <filter-name>SetCharacterEncoding</filter-name> <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class> <init-param> <param-name>encoding</param-name> <param-value>${project.build.sourceEncoding}</param-value> </init-param> </filter> <filter-mapping> <filter-name>SetCharacterEncoding</filter-name> <url-pattern>/*</url-pattern> </filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>
		SalaireRappels</display-name>
		<servlet-name>SalaireRappels</servlet-name>
		<servlet-class>nc.mairie.visusal.servlets.ServletSalRap</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalaireRappels</servlet-name>
		<url-pattern>/SalaireRappelsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalaireRappels</servlet-name>
		<url-pattern>/ServletSalRap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalaireRappels</servlet-name>
		<url-pattern>/SalaireRappels</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- <welcome-file>Accueil.jsp</welcome-file> -->
		<welcome-file>Salaire.jsp</welcome-file>
	</welcome-file-list>
	  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/BanniereErreur.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/BanniereErreur.jsp</location>
  </error-page>
</web-app>

